<?xml version="1.0" encoding="UTF-8"?>
<web-app metadata-complete="true" version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>adminEmail</param-name>
        <param-value>support@XYZ.co.uk</param-value>
    </context-param>
    <context-param>
        <param-name>databaseName</param-name>
        <param-value>jdbc:derby://localhost:1527/XYZ Web Application DB</param-value>
    </context-param>
    <context-param>
        <param-name>databaseDriver</param-name>
        <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
    </context-param>
    <filter>
        <filter-name>authentificationFilter</filter-name>
        <filter-class>com.web.authentificationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>authentificationFilter</filter-name>
        <url-pattern>/adminPage.jsp</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>
            com.model.ServletContextListener
        </listener-class>
    </listener>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.web.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegServlet</servlet-name>
        <servlet-class>com.web.RegServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardServlet</servlet-name>
        <servlet-class>com.web.MemberDashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDashboardServlet</servlet-name>
        <servlet-class>com.web.AdminDashboardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegServlet</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardServlet</servlet-name>
        <url-pattern>/DashboardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDashboardServlet</servlet-name>
        <url-pattern>/AdminDashboardServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/errorPage.jsp</location>
    </error-page>
</web-app>
